{
  "plugins": ["prettier-plugin-sort-imports", "prettier-plugin-organize-attributes", "prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrder": [
    "^react$",
    "^node.*?",
    "<THIRD_PARTY_MODULES>",
    "^@core/(.*)$",
    "^@pages/(.*)$",
    "^@widgets/(.*)$",
    "^@features-new/(.*)$",
    "^@features/(.*)$",
    "^@units/(.*)$",
    "^@assets/(.*)$",
    "@shared/libs/(.*)",
    "@shared/UI",
    "^@shared/(.*)$",
    "[a-zA-Z]+\\/scss([\\/a-zA-Z]+)?",
    "((\\.\\/|\\..\\/))+[a-zA-z]+(.module)?\\.scss",
    ".*\\.(css|scss)",
    "^[\\.]*\\/(?!styles).*\\.(scss|css|sass)$",
    "./styles.scss"
  ]
}
